---
import hero from '../assets/episodes-hero.png';
---

<section>
  <div class="hero min-h-screen" style={`background-image: url('${hero.src}')`}>
    <div class="hero-overlay bg-transparent"></div>
    <div class="hero-content text-neutral-content self-end justify-self-start">
      <h1
        class="text-primary max-w-2xl text-5xl font-bold md:text-7xl xl:mb-16 xl:ml-24 xl:max-w-7xl xl:text-8xl"
      >
        Quando o futuro do jornalismo fala, nós escutamos.
      </h1>
    </div>
  </div>
</section>
