---
import logo from '../assets/logo.jpg';
---

<div
  class="bg-accent text-secondary font-syne flex flex-col items-center justify-evenly gap-10 py-7 text-2xl md:flex-row md:py-14"
>
  <div class="flex flex-col">
    <a href="/">
      <img
        class="size-32"
        src={logo.src}
        alt="Logo do curso de Jornalismo da PUC Minas Poços de Caldas"
      /></a
    >
    <div class="flex gap-4">
      <a href=""
        ><svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1818 5.45455C18.1818 3.44624 16.5538 1.81818 14.5455 1.81818H5.45455C3.44624 1.81818 1.81818 3.44624 1.81818 5.45455V14.5455C1.81818 16.5538 3.44624 18.1818 5.45455 18.1818H14.5455C16.5538 18.1818 18.1818 16.5538 18.1818 14.5455V5.45455ZM7.94567 5.92596C8.7943 5.48562 9.7605 5.32407 10.7062 5.46431C11.6709 5.60739 12.5637 6.05715 13.2533 6.74672C13.9428 7.43628 14.3926 8.32914 14.5357 9.29377C14.6759 10.2395 14.5144 11.2057 14.074 12.0543C13.6337 12.9029 12.9367 13.591 12.0827 14.0208C11.2288 14.4506 10.2612 14.6001 9.31729 14.4482C8.37336 14.2964 7.50133 13.8508 6.82528 13.1747C6.14924 12.4987 5.70365 11.6266 5.55176 10.6827C5.39989 9.73884 5.54944 8.77121 5.97923 7.91726C6.40905 7.06329 7.09708 6.3663 7.94567 5.92596ZM10.4395 7.26296C9.87202 7.17882 9.29247 7.27575 8.78329 7.53995C8.27415 7.80413 7.86134 8.22212 7.60343 8.73446C7.34555 9.24681 7.25577 9.82743 7.34686 10.3937C7.43799 10.9601 7.70517 11.4836 8.1108 11.8892C8.51642 12.2948 9.03991 12.562 9.60627 12.6531C10.1726 12.7442 10.7532 12.6545 11.2655 12.3966C11.7779 12.1387 12.1959 11.7259 12.46 11.2167C12.7242 10.7075 12.8212 10.128 12.737 9.56055C12.6512 8.98177 12.3815 8.44596 11.9678 8.03223C11.554 7.61849 11.0182 7.34881 10.4395 7.26296ZM15.0089 4.09091C15.511 4.09091 15.918 4.49792 15.918 5C15.918 5.50208 15.511 5.90909 15.0089 5.90909H15C14.4979 5.90909 14.0909 5.50208 14.0909 5C14.0909 4.49792 14.4979 4.09091 15 4.09091H15.0089ZM20 14.5455C20 17.5579 17.5579 20 14.5455 20H5.45455C2.44208 20 0 17.5579 0 14.5455V5.45455C0 2.44208 2.44208 0 5.45455 0H14.5455C17.5579 0 20 2.44208 20 5.45455V14.5455Z"
            fill="white"></path>
        </svg>
      </a>
      <a href=""
        ><svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.00953 0.00428014C8.97323 0.00776299 8.83587 0.0184589 8.70429 0.0280161C7.62518 0.106405 6.42608 0.432786 5.38783 0.930718C3.4641 1.85329 1.85044 3.4676 0.928236 5.3921C0.440453 6.41 0.14811 7.46383 0.0307143 8.62735C-0.0102381 9.03316 -0.0102381 9.97122 0.0307143 10.377C0.108593 11.149 0.244931 11.7936 0.479277 12.4981C1.56981 15.7763 4.3688 18.2175 7.7638 18.8514C8.3982 18.9699 8.74938 19 9.49627 19C10.2432 19 10.5944 18.9699 11.2288 18.8514C14.7843 18.1875 17.6764 15.5404 18.6517 12.0573C19.1161 10.3989 19.1161 8.6055 18.6517 6.94703C17.8028 3.91517 15.4748 1.47193 12.491 0.481381C11.7817 0.245917 11.0518 0.0931172 10.3213 0.0271411C10.1188 0.00885206 9.13917 -0.0082152 9.00953 0.00428014ZM7.18631 5.00575C5.7962 5.06872 4.6148 5.24187 3.58158 5.5341C3.43665 5.57509 3.2733 5.63233 3.21859 5.6613C3.01122 5.7711 2.82797 6.01518 2.78025 6.24515C2.7528 6.3774 2.76758 6.61613 2.81056 6.73486C2.90088 6.98439 3.1038 7.18753 3.35011 7.27503C3.49993 7.32825 3.72874 7.33515 3.88635 7.29119C5.05386 6.96554 6.04003 6.82094 7.38627 6.77806C10.1712 6.68935 12.9323 7.26318 14.7762 8.31388C15.0554 8.47298 15.1389 8.50035 15.3454 8.50062C15.48 8.50078 15.532 8.49317 15.6276 8.4593C16.1452 8.27588 16.3738 7.71169 16.1335 7.21062C16.057 7.05107 15.8951 6.90679 15.6177 6.75104C13.8955 5.78408 11.7322 5.21091 9.11678 5.02864C8.86907 5.01138 7.43695 4.99439 7.18631 5.00575ZM7.12031 8.26528C6.10641 8.30242 5.05292 8.46726 4.10085 8.73771C3.82811 8.81519 3.73157 8.86252 3.6212 8.97288C3.4139 9.18013 3.34681 9.48443 3.44713 9.76235C3.5309 9.99441 3.77359 10.1863 4.03531 10.2275C4.15965 10.2471 4.25423 10.2349 4.47209 10.1713C4.97789 10.0236 5.54667 9.90821 6.13857 9.83308C7.0284 9.72014 8.10637 9.71101 9.05078 9.80845C10.7779 9.98662 12.3825 10.4852 13.6702 11.2439C13.7919 11.3156 13.9174 11.3763 13.9753 11.3913C14.4017 11.5023 14.8197 11.2295 14.8949 10.7911C14.9324 10.5719 14.8553 10.3284 14.6967 10.1655C14.654 10.1217 14.5338 10.0351 14.4295 9.97317C12.7145 8.954 10.5318 8.35041 8.25054 8.26451C7.77901 8.24675 7.62301 8.24686 7.12031 8.26528ZM7.4668 11.3447C6.96305 11.3579 6.28154 11.4181 5.71654 11.4994C5.06762 11.5928 4.26855 11.7538 4.12315 11.8203C4.0084 11.8729 3.91019 11.9754 3.84789 12.1077C3.80339 12.2022 3.79618 12.2359 3.79618 12.3495C3.79618 12.4632 3.80339 12.4969 3.84789 12.5914C3.94649 12.8008 4.11989 12.9205 4.34169 12.9325C4.43363 12.9375 4.52583 12.9245 4.77069 12.8718C6.44235 12.5123 8.00623 12.4345 9.43853 12.6394C10.5857 12.8036 11.674 13.1764 12.6637 13.7441C12.9466 13.9063 13.0283 13.9343 13.1831 13.9219C13.383 13.9058 13.5572 13.7906 13.6554 13.6094C13.7091 13.5103 13.712 13.4966 13.712 13.3399C13.712 13.1959 13.7064 13.163 13.6683 13.0816C13.5899 12.9144 13.4983 12.8456 12.9756 12.5613C11.7298 11.8836 10.2396 11.4692 8.68779 11.3688C8.39788 11.3501 7.7506 11.3373 7.4668 11.3447Z"
            fill="white"></path>
        </svg>
      </a>
      <a href=""
        ><svg
          width="16"
          height="19"
          viewBox="0 0 16 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.41705 6.64106C8.41705 13.9876 8.42475 13.4992 8.30229 13.92C8.15985 14.4094 7.92296 14.8079 7.5579 15.1721C7.20164 15.5275 6.74728 15.7711 6.22314 15.8879C6.07602 15.9206 5.98039 15.9286 5.72919 15.9291C5.36993 15.9298 5.19803 15.9023 4.8744 15.7922C4.45506 15.6497 4.12529 15.4376 3.80595 15.1051C3.34389 14.624 3.08744 14.0471 3.02414 13.3464C3.01398 13.2339 3.00985 13.0923 3.01498 13.0318C3.0201 12.9712 3.02865 12.8716 3.03397 12.8103C3.07005 12.3941 3.23348 11.9361 3.48836 11.5367C3.63092 11.3133 3.95535 10.9729 4.17166 10.8197C4.82926 10.354 5.59649 10.2049 6.35247 10.3959C6.45148 10.421 6.5398 10.4414 6.54876 10.4414C6.55844 10.4414 6.56526 9.81048 6.56561 8.88028C6.56608 7.64054 6.56157 7.31743 6.54376 7.31084C6.40719 7.26034 5.61082 7.23098 5.24679 7.26301C3.73231 7.3963 2.37927 8.10377 1.39283 9.27819C-0.0220678 10.9627 -0.392226 13.3251 0.435491 15.3878C0.629568 15.8714 0.908642 16.3587 1.23645 16.7862C1.43735 17.0482 1.8558 17.4849 2.10682 17.6946C2.90832 18.3641 3.83652 18.7864 4.87478 18.9538C5.23021 19.0111 6.13476 19.0162 6.46791 18.9628C7.66374 18.7712 8.62819 18.3126 9.48507 17.5283C10.4085 16.683 11.0397 15.5671 11.2817 14.3523C11.4066 13.7252 11.3992 14.0172 11.3928 9.91657C11.3895 7.88565 11.3916 6.22398 11.3974 6.22398C11.4031 6.22398 11.4658 6.26853 11.5367 6.32301C12.2643 6.882 13.1647 7.33254 14.046 7.57865C14.5948 7.73191 15.342 7.83895 15.8709 7.84008L16 7.84036V6.30103V4.7617L15.7463 4.75059C14.8434 4.71109 13.9454 4.36323 13.1798 3.75652C12.8219 3.47283 12.3585 2.94467 12.1147 2.54254C11.7811 1.99234 11.5595 1.39789 11.4541 0.77103C11.4221 0.580558 11.3897 0.241992 11.3897 0.09754L11.3897 0H9.90338H8.41705V6.64106Z"
            fill="white"></path>
        </svg>
      </a>
    </div>
  </div>

  <div class="hidden flex-col lg:flex">
    <a href="/">Início</a>
    <a href="/productions">Produções</a>
    <a href="/about">Sobre o TEI</a>
    <a href="/contact">Contato</a>
  </div>

  <div class="flex max-w-2xs flex-col gap-6 text-center md:text-start">
    <p>© 2025 TEI — Curso de Jornalismo | PUC Minas Poços de Caldas</p>
    <p>Feito pelos estudantes.</p>
  </div>
</div>
