---
import EpisodeCard from './EpisodeCard.astro';
import episodes from '../data/episodes.json';

const latestEpisodes = episodes
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
  .slice(0, 3);
---

<section id="cards-section">
  <div class="bg-base-100 mt-20 flex max-h-full w-screen flex-col lg:mt-40 lg:px-10">
    <div id="subtitle-container" class="flex flex-col items-center gap-12">
      <h2 class="text-accent font-hepta text-center text-5xl font-bold">Episódios Recentes</h2>
      <svg
        width="115"
        height="9"
        viewBox="0 0 115 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="115" width="9" height="115" rx="4.5" transform="rotate(90 115 0)" fill="#D7561D"
        ></rect>
      </svg>
    </div>
    <div
      id="cards-container"
      class="mt-12 grid grid-cols-1 justify-items-center gap-11 md:grid-cols-2 lg:mt-24 lg:grid-cols-3"
    >
      {latestEpisodes.map((ep) => <EpisodeCard episode={ep} />)}
    </div>
  </div>
</section>
