<section>
  <div class="bg-base-100 my-14 grid grid-cols-1 lg:my-28 lg:grid-cols-2">
    <div class="ml-20 hidden items-center gap-32 py-10 lg:flex">
      <svg
        class="hidden xl:block"
        width="9"
        height="115"
        viewBox="0 0 9 115"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="9" height="115" rx="4.5" fill="#D7561D"></rect>
      </svg>

      <div class="font-syne flex max-w-80 flex-col gap-8 text-justify text-2xl">
        <p>
          Acompanhe os bastidores e novidades dos projetos dos alunos nas redes e plataformas de
          áudio.
        </p>
        <p>Participe, compartilhe, ouça. O jornalismo em formação também precisa de ouvintes.</p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-10 lg:items-start">
      <div
        class="bg-accent text-secondary flex w-80 items-center gap-4 rounded-full px-10 py-7 md:w-3/4 lg:w-96"
      >
        <svg
          width="53"
          height="53"
          viewBox="0 0 53 53"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M48.1818 14.4545C48.1818 9.13253 43.8675 4.81818 38.5455 4.81818H14.4545C9.13253 4.81818 4.81818 9.13253 4.81818 14.4545V38.5455C4.81818 43.8675 9.13253 48.1818 14.4545 48.1818H38.5455C43.8675 48.1818 48.1818 43.8675 48.1818 38.5455V14.4545ZM21.056 15.7038C23.3049 14.5369 25.8653 14.1088 28.3715 14.4804C30.9278 14.8596 33.2939 16.0515 35.1212 17.8788C36.9485 19.7061 38.1404 22.0722 38.5196 24.6285C38.8912 27.1347 38.4631 29.6951 37.2962 31.944C36.1293 34.1927 34.2823 36.016 32.0193 37.1551C29.7563 38.294 27.1921 38.6903 24.6908 38.2878C22.1894 37.8853 19.8785 36.7045 18.087 34.913C16.2955 33.1215 15.1147 30.8106 14.7122 28.3092C14.3097 25.8079 14.706 23.2437 15.8449 20.9807C16.984 18.7177 18.8073 16.8707 21.056 15.7038ZM27.6646 19.2468C26.1609 19.0239 24.625 19.2807 23.2757 19.9809C21.9265 20.681 20.8325 21.7886 20.1491 23.1463C19.4657 24.504 19.2278 26.0427 19.4692 27.5434C19.7107 29.0442 20.4187 30.4315 21.4936 31.5064C22.5685 32.5813 23.9558 33.2893 25.4566 33.5308C26.9573 33.7722 28.496 33.5343 29.8537 32.8509C31.2114 32.1675 32.319 31.0735 33.0191 29.7243C33.7193 28.375 33.9761 26.8391 33.7532 25.3354C33.5257 23.8017 32.811 22.3818 31.7146 21.2854C30.6182 20.189 29.1983 19.4743 27.6646 19.2468ZM39.7735 10.8409C41.104 10.8409 42.1826 11.9195 42.1826 13.25C42.1826 14.5805 41.104 15.6591 39.7735 15.6591H39.75C38.4195 15.6591 37.3409 14.5805 37.3409 13.25C37.3409 11.9195 38.4195 10.8409 39.75 10.8409H39.7735ZM53 38.5455C53 46.5285 46.5285 53 38.5455 53H14.4545C6.47152 53 0 46.5285 0 38.5455V14.4545C0 6.47152 6.47152 0 14.4545 0H38.5455C46.5285 0 53 6.47152 53 14.4545V38.5455Z"
            fill="white"></path>
        </svg>
        <p class="font-syne text-sm font-bold md:text-lg">@jornalismopucmgpocos</p>
      </div>
      <div
        class="bg-accent text-secondary flex w-80 items-center gap-4 rounded-full px-10 py-7 md:w-3/4 lg:w-96 lg:self-center"
      >
        <svg
          width="52"
          height="53"
          viewBox="0 0 52 53"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.6577 0.0119393C24.5583 0.0216546 24.1824 0.0514907 23.8223 0.0781503C20.8689 0.296814 17.5872 1.20724 14.7456 2.59621C9.48071 5.16971 5.06437 9.67278 2.54044 15.0411C1.20545 17.8805 0.405354 20.8202 0.0840603 24.0658C-0.0280201 25.1978 -0.0280201 27.8145 0.0840603 28.9465C0.297203 31.0998 0.670338 32.8981 1.31171 34.8631C4.29633 44.0076 11.9567 50.8173 21.2483 52.5856C22.9845 52.916 23.9457 53 25.9898 53C28.0339 53 28.9951 52.916 30.7313 52.5856C40.4624 50.7336 48.3776 43.3496 51.0468 33.6337C52.3177 29.0074 52.3177 24.0048 51.0468 19.3786C48.7234 10.9213 42.352 4.10591 34.1859 1.3428C32.2446 0.685979 30.2471 0.259748 28.2477 0.0757095C27.6936 0.0246926 25.0125 -0.0229161 24.6577 0.0119393ZM19.6678 13.9634C15.8633 14.1391 12.63 14.6221 9.80223 15.4372C9.40556 15.5516 8.95851 15.7112 8.80876 15.7921C8.24123 16.0983 7.73971 16.7792 7.60912 17.4207C7.53398 17.7896 7.57444 18.4555 7.69207 18.7867C7.93926 19.4828 8.49461 20.0494 9.16871 20.2935C9.57874 20.442 10.205 20.4612 10.6363 20.3386C13.8316 19.4302 16.5306 19.0268 20.215 18.9072C27.837 18.6598 35.3936 20.2605 40.4401 23.1913C41.2042 23.6352 41.4326 23.7115 41.9981 23.7122C42.3664 23.7127 42.5088 23.6915 42.7703 23.597C44.1869 23.0854 44.8125 21.5116 44.155 20.1138C43.9456 19.6688 43.5023 19.2663 42.7432 18.8318C38.0297 16.1345 32.1091 14.5357 24.9512 14.0273C24.2732 13.9791 20.3538 13.9317 19.6678 13.9634ZM19.4872 23.0558C16.7123 23.1594 13.829 23.6192 11.2234 24.3736C10.4769 24.5898 10.2127 24.7218 9.91065 25.0296C9.34329 25.6077 9.15968 26.4566 9.43424 27.2318C9.6635 27.8791 10.3277 28.4145 11.044 28.5293C11.3843 28.5839 11.6432 28.55 12.2394 28.3726C13.6237 27.9607 15.1804 27.6387 16.8003 27.4291C19.2356 27.1141 22.1858 27.0886 24.7706 27.3604C29.4974 27.8574 33.8889 29.2483 37.4133 31.3646C37.7463 31.5646 38.0898 31.7338 38.2482 31.7758C39.4151 32.0855 40.5593 31.3243 40.7649 30.1016C40.8677 29.49 40.6567 28.8109 40.2224 28.3563C40.1057 28.2341 39.7767 27.9927 39.4913 27.8199C34.7977 24.9769 28.8238 23.2932 22.5804 23.0536C21.2899 23.0041 20.863 23.0044 19.4872 23.0558ZM20.4355 31.6457C19.0568 31.6824 17.1916 31.8505 15.6453 32.0774C13.8693 32.3379 11.6823 32.7868 11.2844 32.9725C10.9704 33.1191 10.7016 33.4051 10.5311 33.7741C10.4093 34.0376 10.3895 34.1318 10.3895 34.4487C10.3895 34.7656 10.4093 34.8599 10.5311 35.1233C10.8009 35.7074 11.2755 36.0415 11.8825 36.075C12.1341 36.0889 12.3865 36.0524 13.0566 35.9056C17.6317 34.9027 21.9118 34.6856 25.8318 35.2574C28.9713 35.7154 31.95 36.7552 34.6586 38.3388C35.4328 38.7914 35.6564 38.8694 36.0799 38.8348C36.6271 38.79 37.1039 38.4685 37.3726 37.9631C37.5196 37.6866 37.5275 37.6485 37.5275 37.2114C37.5275 36.8095 37.5123 36.7178 37.4079 36.4909C37.1934 36.0244 36.9428 35.8324 35.5121 35.0393C32.1026 33.149 28.0241 31.993 23.7771 31.7131C22.9837 31.6608 21.2122 31.6251 20.4355 31.6457Z"
            fill="white"></path>
        </svg>
        <p class="font-syne text-sm font-bold md:text-lg">Jornalismo PUC Minas Poços de Caldas</p>
      </div>
      <div
        class="bg-accent text-secondary flex w-80 items-center gap-4 rounded-full px-10 py-7 md:w-3/4 lg:w-96 lg:self-end lg:rounded-r-none"
      >
        <svg
          width="45"
          height="53"
          viewBox="0 0 45 53"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M23.6729 18.5251C23.6729 39.018 23.6946 37.6558 23.3502 38.8294C22.9496 40.1947 22.2833 41.3062 21.2566 42.3222C20.2546 43.3135 18.9767 43.9932 17.5026 44.3188C17.0888 44.4101 16.8199 44.4324 16.1134 44.4338C15.1029 44.4358 14.6195 44.359 13.7093 44.0521C12.5299 43.6543 11.6024 43.0628 10.7042 42.1352C9.4047 40.7933 8.68343 39.184 8.5054 37.2293C8.47682 36.9155 8.4652 36.5206 8.47962 36.3518C8.49404 36.1829 8.51807 35.9049 8.53304 35.7339C8.63452 34.5731 9.09415 33.2954 9.81101 32.1814C10.212 31.5582 11.1244 30.6086 11.7328 30.1812C13.5823 28.8821 15.7401 28.4662 17.8663 28.9992C18.1448 29.069 18.3932 29.1261 18.4184 29.1261C18.4456 29.1261 18.4648 27.3661 18.4658 24.7713C18.4671 21.3131 18.4544 20.4118 18.4043 20.3934C18.0202 20.2525 15.7804 20.1706 14.7566 20.26C10.4971 20.6318 6.6917 22.6053 3.91733 25.8813C-0.0620657 30.5802 -1.10314 37.17 1.22482 42.9239C1.77066 44.2729 2.55556 45.6321 3.47753 46.8246C4.04254 47.5554 5.21944 48.7737 5.92543 49.3587C8.17964 51.2263 10.7902 52.4042 13.7103 52.8711C14.71 53.031 17.254 53.0453 18.191 52.8963C21.5543 52.3617 24.2668 51.0825 26.6768 48.8946C29.2738 46.5369 31.0493 43.4241 31.7297 40.0354C32.081 38.2861 32.0604 39.1006 32.0421 27.662C32.033 21.9968 32.0389 17.3616 32.0551 17.3616C32.0713 17.3616 32.2477 17.4859 32.4471 17.6379C34.4934 19.1971 37.0257 20.4539 39.5045 21.1405C41.0479 21.568 43.1495 21.8665 44.637 21.8697L45 21.8705V17.5766V13.2826L44.2866 13.2516C41.7472 13.1415 39.2213 12.1711 37.0682 10.4787C36.0616 9.68738 34.7582 8.21407 34.0725 7.09235C33.1344 5.55759 32.511 3.89937 32.2147 2.15077C32.1247 1.61945 32.0336 0.675031 32.0336 0.272085L32.0336 0H27.8532H23.6729V18.5251Z"
            fill="white"></path>
        </svg>
        <p class="font-syne text-sm font-bold md:text-lg">@pucmgpocos</p>
      </div>
    </div>
  </div>
</section>
