---
import homeHero from '../assets/home-hero.png';
---

<section id="hero">
  <div class="hero bg-base-100 mt-8 max-h-full w-screen lg:mt-16 lg:px-10">
    <div
      class="hero-content w-full max-w-full flex-col gap-12 lg:flex-row-reverse lg:justify-between lg:p-0"
    >
      <div id="hero-right-side" class="lg:flex lg:items-center lg:justify-end lg:gap-28">
        <img src={homeHero.src} class="max-w-full xl:max-w-lg" />
        <svg
          class="hidden xl:block"
          width="9"
          height="115"
          viewBox="0 0 9 115"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="9" height="115" rx="4.5" fill="#D7561D"></rect>
        </svg>
      </div>
      <div id="hero-left-side" class="lg:w-1/2">
        <div id="hero-title-container max-w-2xl">
          <h1 class="font-hepta text-6xl font-bold md:text-7xl">
            A <span class="text-accent">Raposa</span> tem algo a dizer.
          </h1>
          <svg
            width="125"
            height="125"
            viewBox="0 0 125 125"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M43.017 65.3307L114.283 65.2804L95.5019 83.8838C94.3281 85.0465 94.3207 86.6042 95.4834 87.778C96.6461 88.9518 98.2038 88.9592 99.3776 87.7965L122.854 64.5424C124.028 63.3797 124.035 61.822 122.873 60.6481L99.6186 37.1716C98.4559 35.9977 96.8982 35.9903 95.7243 37.153C94.5505 38.3157 94.5431 39.8734 95.7058 41.0473L114.309 59.8285L43.4342 59.4912C41.8765 59.4838 40.7027 60.6465 40.6953 62.2042C40.6878 63.7618 41.8505 64.9357 43.017 65.3307Z"
              fill="#D7561D"></path>
            <path
              d="M0.9745 62.0142C0.967086 63.5719 2.12979 64.7457 3.68748 64.7531L30.9471 64.8829C32.5048 64.8903 33.6786 63.7276 33.686 62.1699C33.6897 61.391 33.3021 60.9997 32.527 60.2172C31.7519 59.4346 31.3643 59.0434 30.5855 59.0397L3.32586 58.9099C2.93459 59.2975 1.36948 60.8478 0.9745 62.0142Z"
              fill="#101010"></path>
          </svg>
        </div>

        <div id="hero-description-container" class="mt-7 max-w-2xl flex-col gap-11 lg:mt-14">
          <button
            class="btn btn-accent text-secondary font-montserrat text-l h-11 max-w-2xs rounded-lg text-lg font-medium"
            >EXPLORE AS PRODUÇÕES</button
          >
          <p class="font-syne py-6 text-justify text-2xl">
            O TEI é o espaço de criação do curso de Jornalismo da PUC Minas Poços de Caldas. Aqui,
            cada estudante transforma ideias em som, narrativa e experiência.
          </p>
        </div>

        <div id="hero-see-more-container" class="mt-8 flex items-center gap-4 lg:mt-16">
          <svg
            width="40"
            height="38"
            viewBox="0 0 40 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="0.5" y="0.5" width="39" height="37" rx="9.5" fill="white" stroke="black"
            ></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.0574 12.5868C3.25317 15.4717 3.99404 15.2251 4.02901 15.2595C4.04339 15.2735 5.23763 15.6632 6.68289 16.1254L9.31058 16.9657L14.5723 15.1128C17.5611 14.0602 19.9261 13.2598 20.0472 13.2598C20.3682 13.2598 20.659 13.6441 20.659 14.0682C20.659 14.4701 20.6367 14.4795 15.8415 16.0914C13.3818 16.9182 11.3839 17.6089 11.4016 17.6264C11.4195 17.6439 13.3706 18.3009 15.7376 19.0865L20.0412 20.5149L28.0468 17.8968C32.4499 16.4568 36.0288 15.2575 35.9998 15.2317C35.9362 15.1748 20.0889 9.99311 19.9998 10C19.9653 10.0027 16.3912 11.1667 12.0574 12.5868ZM8.29723 17.9621C7.98449 18.1395 7.98098 18.1709 7.97859 20.8086L7.97639 23.2755L7.75802 23.353C7.46965 23.4553 7.0203 23.9028 6.83809 24.2692C6.66838 24.6105 6.6078 25.2912 6.71296 25.6745C6.81675 26.0525 7.13199 26.4909 7.43185 26.674L7.70302 26.8397L7.18222 28.8736C6.89573 29.9923 6.6606 30.9284 6.65959 30.9538C6.65865 30.9792 7.55862 31 8.65956 31H10.6612L10.1306 28.9211C9.64133 27.0041 9.6085 26.8373 9.70927 26.7805C9.99036 26.6222 10.3111 26.2767 10.4666 25.9648C10.6978 25.5012 10.7116 24.7801 10.498 24.3166C10.32 23.9304 9.97937 23.5802 9.59312 23.3863L9.29489 23.2366V20.7464V18.2561L9.15155 18.0926C8.9787 17.8955 8.53437 17.8276 8.29723 17.9621ZM11.9947 21.6003C11.9947 24.4948 11.9778 24.4058 12.6485 25.0558C12.8932 25.293 13.277 25.5915 13.5015 25.7191C14.4013 26.2309 15.8684 26.675 17.457 26.9166C18.5063 27.0762 21.5667 27.0736 22.6368 26.9123C24.173 26.6807 25.7172 26.2072 26.6087 25.6943C26.8069 25.5803 27.1692 25.293 27.4139 25.0558C28.0845 24.4058 28.0677 24.4948 28.0677 21.6003V19.1831L24.0494 20.4976L20.0312 21.812L16.0129 20.4976L11.9947 19.1831V21.6003Z"
              fill="black"></path>
          </svg>
          <div class="font-montserrat flex-col text-sm">
            <p>Saiba mais sobre o TEI</p>
            <div class="flex items-center gap-1">
              <a class="font-semibold">Trabalho Extencionista Interdisciplinar</a>
              <svg
                width="15"
                height="11"
                viewBox="0 0 15 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 5.375H13.5641M13.5641 5.375L8.85256 1M13.5641 5.375L8.85256 9.75"
                  stroke="#101010"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
