<section id="cards-section">
  <div class="bg-base-100 mt-20 flex max-h-full w-screen flex-col lg:mt-40 lg:px-10">
    <div id="subtitle-container" class="flex flex-col items-center gap-12">
      <h2 class="text-accent font-hepta text-center text-5xl font-bold">Episódios Recentes</h2>
      <svg
        width="115"
        height="9"
        viewBox="0 0 115 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="115" width="9" height="115" rx="4.5" transform="rotate(90 115 0)" fill="#D7561D"
        ></rect>
      </svg>
    </div>
    <div
      id="cards-container"
      class="mt-12 grid grid-cols-1 justify-items-center gap-11 md:grid-cols-2 lg:mt-24 lg:grid-cols-3"
    >
      <div class="card bg-base-300 w-full max-w-80 rounded-4xl shadow-sm lg:max-w-96">
        <figure class="h-72">
          <img src="" alt="" />
        </figure>
        <div class="card-body bg-accent font-montserrat text-secondary relative rounded-b-4xl">
          <h3 class="card-title text-lg font-bold">Episódio 1</h3>
          <p class="text-2xl font-semibold">ENTRE BINÁRIOS: Evolução | Degradação</p>
          <div class="card-actions absolute end-1/12 -top-7">
            <button class="btn btn-ghost btn-circle size-14"
              ><svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="54" height="54" rx="27" fill="#F88653"></rect>
                <path
                  d="M39.2432 23.5359C41.9099 25.0755 41.9099 28.9245 39.2432 30.4641L23.8784 39.335C21.2117 40.8746 17.8784 38.9501 17.8784 35.8709L17.8784 18.1291C17.8784 15.0499 21.2117 13.1253 23.8784 14.6649L39.2432 23.5359Z"
                  fill="#FAFBF3"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="card bg-base-300 w-full max-w-80 rounded-4xl shadow-sm lg:max-w-96">
        <figure class="h-72">
          <img src="" alt="" />
        </figure>
        <div class="card-body bg-accent font-montserrat text-secondary relative rounded-b-4xl">
          <h3 class="card-title text-lg font-bold">Episódio 2</h3>
          <p class="text-2xl font-semibold">ENTRE BINÁRIOS: Padrão | Criatividade</p>
          <div class="card-actions absolute end-1/12 -top-7">
            <button class="btn btn-ghost btn-circle size-14"
              ><svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="54" height="54" rx="27" fill="#F88653"></rect>
                <path
                  d="M39.2432 23.5359C41.9099 25.0755 41.9099 28.9245 39.2432 30.4641L23.8784 39.335C21.2117 40.8746 17.8784 38.9501 17.8784 35.8709L17.8784 18.1291C17.8784 15.0499 21.2117 13.1253 23.8784 14.6649L39.2432 23.5359Z"
                  fill="#FAFBF3"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div
        class="card bg-base-300 w-full max-w-80 rounded-4xl shadow-sm md:col-span-2 md:justify-self-center lg:col-span-1 lg:max-w-96 lg:justify-self-auto"
      >
        <figure class="h-72">
          <img src="" alt="" />
        </figure>
        <div class="card-body bg-accent font-montserrat text-secondary relative rounded-b-4xl">
          <h3 class="card-title text-lg font-bold">Episódio 1</h3>
          <p class="text-2xl font-semibold">CÓDIGO ABERTO: IA no Mercado de Trabalho</p>
          <div class="card-actions absolute end-1/12 -top-7">
            <button class="btn btn-ghost btn-circle size-14"
              ><svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="54" height="54" rx="27" fill="#F88653"></rect>
                <path
                  d="M39.2432 23.5359C41.9099 25.0755 41.9099 28.9245 39.2432 30.4641L23.8784 39.335C21.2117 40.8746 17.8784 38.9501 17.8784 35.8709L17.8784 18.1291C17.8784 15.0499 21.2117 13.1253 23.8784 14.6649L39.2432 23.5359Z"
                  fill="#FAFBF3"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
