---
import logo from "../assets/logo.jpg";

const current = Astro.url.pathname;
---

<div class="navbar font-hepta bg-base-100 text-primary px-11">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content rounded-box bg-base-100 z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a href="/" class={current === "/" ? "text-secondary" : ""}>Início</a>
        </li>
        <li>
          <a
            href="/productions"
            class={current === "/productions" ? "text-secondary" : ""}
            >Produções</a
          >
        </li>
        <li>
          <a href="/about" class={current === "/about" ? "text-secondary" : ""}
            >Sobre o TEI</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class={current === "/contact" ? "text-secondary" : ""}>Contato</a
          >
        </li>
      </ul>
    </div>
    <a href="/"
      ><img src={logo.src} alt="Logo" class="size-11 rounded-full" /></a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="/" class={current === "/" ? "text-secondary" : ""}>Início</a>
      </li>
      <li>
        <a
          href="/productions"
          class={current === "/productions" ? "text-secondary" : ""}
          >Produções</a
        >
      </li>
      <li>
        <a href="/about" class={current === "/about" ? "text-secondary" : ""}
          >Sobre o TEI</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class={current === "/contact" ? "text-secondary" : ""}>Contato</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-outline btn-square btn-sm rounded-lg"
      ><svg
        width="23"
        height="19"
        viewBox="0 0 23 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.171 0.0702464C8.11223 0.344399 6.12544 1.3142 4.63252 2.77371C2.94045 4.42786 1.9572 6.49932 1.73547 8.87709L1.67774 9.49637L1.34137 9.65715C0.897764 9.86913 0.50337 10.2582 0.273068 10.7109C0.176153 10.9015 0.096867 11.0974 0.096867 11.1462C0.096867 11.1951 0.075072 11.2351 0.0484335 11.2351C0.0166611 11.2351 0 12.2514 0 14.1886C0 16.1259 0.0166611 17.1421 0.0484335 17.1421C0.075072 17.1421 0.096867 17.1825 0.096867 17.2319C0.096867 17.2813 0.184386 17.4936 0.291328 17.7038C0.432899 17.982 0.5658 18.1588 0.779828 18.3537C1.38234 18.9023 1.74312 18.9983 3.20707 18.9993L4.25886 19L4.27474 13.8433C4.29029 8.776 4.29237 8.67887 4.39403 8.24427C5.00996 5.61027 6.79861 3.63928 9.30267 2.83535C10.0742 2.58764 10.4168 2.54133 11.4787 2.54133C12.3413 2.54133 12.5376 2.55586 12.9744 2.65204C16.1325 3.34755 18.4129 5.89585 18.694 9.04382C18.7228 9.36646 18.7431 11.5254 18.7433 14.2958L18.7438 19H19.7991C20.9129 19 21.2032 18.9613 21.6398 18.7545C22.1248 18.5248 22.591 18.0259 22.7938 17.5195C22.8402 17.4037 22.9015 17.2936 22.9299 17.2749C22.9655 17.2516 22.9859 16.2948 22.9952 14.2132C23.0071 11.5326 23.0002 11.1823 22.9347 11.1576C22.8939 11.1422 22.8606 11.1027 22.8606 11.0697C22.8606 11.0367 22.7839 10.8588 22.69 10.6743C22.4766 10.2548 22.0269 9.82659 21.5789 9.61632L21.2623 9.46769V9.18673C21.2623 8.45935 21.004 7.18758 20.6818 6.32849C19.4168 2.95611 16.3427 0.526849 12.7547 0.0642442C12.0722 -0.0237895 10.8559 -0.0209312 10.171 0.0702464ZM5.56985 9.62123C5.41516 9.68173 5.19328 9.88833 5.10543 10.0537C5.00546 10.2419 5.00333 18.2567 5.10315 18.4917C5.37162 19.1237 6.32324 19.134 6.63123 18.5082C6.73124 18.3051 6.73226 18.2619 6.73119 14.2808C6.73018 10.4799 6.72524 10.2481 6.64116 10.068C6.53533 9.84136 6.42732 9.7398 6.18719 9.64109C5.98629 9.55854 5.74964 9.55091 5.56985 9.62123ZM16.7822 9.63533C16.6017 9.7146 16.3932 9.92968 16.3252 10.1068C16.2903 10.1978 16.2737 11.5446 16.2737 14.2885C16.2737 18.7143 16.2618 18.528 16.5599 18.7747C16.9903 19.1309 17.625 19.0016 17.8678 18.5082C17.9678 18.3051 17.9688 18.2619 17.9678 14.2808C17.9668 10.4799 17.9618 10.2481 17.8777 10.068C17.7719 9.84136 17.6639 9.7398 17.4238 9.64109C17.2071 9.55206 16.9766 9.55001 16.7822 9.63533ZM0.0227638 14.1886C0.0227638 15.8262 0.0288664 16.4961 0.0362767 15.6773C0.0437355 14.8585 0.0437355 13.5187 0.0362767 12.7C0.0288664 11.8812 0.0227638 12.5511 0.0227638 14.1886Z"
          fill="#101010"></path>
      </svg>
    </a>
  </div>
</div>
