---
import logo from '../assets/logo.jpg';

const current = Astro.url.pathname;
---

<nav>
  <div class="navbar font-hepta bg-base-100 text-primary font-medium lg:px-10 lg:py-8">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="-1"
          class="menu menu-sm dropdown-content rounded-box bg-base-100 z-1 mt-3 w-52 p-2 shadow"
        >
          <li>
            <a href="/" class={current === '/' ? 'text-secondary' : ''}>Início</a>
          </li>
          <li>
            <a href="/productions" class={current === '/productions' ? 'text-secondary' : ''}
              >Produções</a
            >
          </li>
          <li>
            <a href="/about" class={current === '/about' ? 'text-secondary' : ''}>Sobre o TEI</a>
          </li>
          <li>
            <a href="/contact" class={current === '/contact' ? 'text-secondary' : ''}>Contato</a>
          </li>
        </ul>
      </div>
      <a href="/"><img src={logo.src} alt="Logo" class="size-11 rounded-full" /></a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a href="/" class={current === '/' ? 'text-secondary' : ''}>Início</a>
        </li>
        <li>
          <a href="/productions" class={current === '/productions' ? 'text-secondary' : ''}
            >Produções</a
          >
        </li>
        <li>
          <a href="/about" class={current === '/about' ? 'text-secondary' : ''}>Sobre o TEI</a>
        </li>
        <li>
          <a href="/contact" class={current === '/contact' ? 'text-secondary' : ''}>Contato</a>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <svg
        width="40"
        height="38"
        viewBox="0 0 40 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="0.5" y="0.5" width="39" height="37" rx="9.5" fill="white" stroke="black"></rect>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.171 9.07025C16.1122 9.3444 14.1254 10.3142 12.6325 11.7737C10.9404 13.4279 9.9572 15.4993 9.73547 17.8771L9.67774 18.4964L9.34137 18.6571C8.89776 18.8691 8.50337 19.2582 8.27307 19.7109C8.17615 19.9015 8.09687 20.0974 8.09687 20.1462C8.09687 20.1951 8.07507 20.2351 8.04843 20.2351C8.01666 20.2351 8 21.2514 8 23.1886C8 25.1259 8.01666 26.1421 8.04843 26.1421C8.07507 26.1421 8.09687 26.1825 8.09687 26.2319C8.09687 26.2813 8.18439 26.4936 8.29133 26.7038C8.4329 26.982 8.5658 27.1588 8.77983 27.3537C9.38234 27.9023 9.74312 27.9983 11.2071 27.9993L12.2589 28L12.2747 22.8433C12.2903 17.776 12.2924 17.6789 12.394 17.2443C13.01 14.6103 14.7986 12.6393 17.3027 11.8354C18.0742 11.5876 18.4168 11.5413 19.4787 11.5413C20.3413 11.5413 20.5376 11.5559 20.9744 11.652C24.1325 12.3475 26.4129 14.8959 26.694 18.0438C26.7228 18.3665 26.7431 20.5254 26.7433 23.2958L26.7438 28H27.7991C28.9129 28 29.2032 27.9613 29.6398 27.7545C30.1248 27.5248 30.591 27.0259 30.7938 26.5195C30.8402 26.4037 30.9015 26.2936 30.9299 26.2749C30.9655 26.2516 30.9859 25.2948 30.9952 23.2132C31.0071 20.5326 31.0002 20.1823 30.9347 20.1576C30.8939 20.1422 30.8606 20.1027 30.8606 20.0697C30.8606 20.0367 30.7839 19.8588 30.69 19.6743C30.4766 19.2548 30.0269 18.8266 29.5789 18.6163L29.2623 18.4677V18.1867C29.2623 17.4594 29.004 16.1876 28.6818 15.3285C27.4168 11.9561 24.3427 9.52685 20.7547 9.06424C20.0722 8.97621 18.8559 8.97907 18.171 9.07025ZM13.5699 18.6212C13.4152 18.6817 13.1933 18.8883 13.1054 19.0537C13.0055 19.2419 13.0033 27.2567 13.1031 27.4917C13.3716 28.1237 14.3232 28.134 14.6312 27.5082C14.7312 27.3051 14.7323 27.2619 14.7312 23.2808C14.7302 19.4799 14.7252 19.2481 14.6412 19.068C14.5353 18.8414 14.4273 18.7398 14.1872 18.6411C13.9863 18.5585 13.7496 18.5509 13.5699 18.6212ZM24.7822 18.6353C24.6017 18.7146 24.3932 18.9297 24.3252 19.1068C24.2903 19.1978 24.2737 20.5446 24.2737 23.2885C24.2737 27.7143 24.2618 27.528 24.5599 27.7747C24.9903 28.1309 25.625 28.0016 25.8678 27.5082C25.9678 27.3051 25.9688 27.2619 25.9678 23.2808C25.9668 19.4799 25.9618 19.2481 25.8777 19.068C25.7719 18.8414 25.6639 18.7398 25.4238 18.6411C25.2071 18.5521 24.9766 18.55 24.7822 18.6353ZM8.02276 23.1886C8.02276 24.8262 8.02887 25.4961 8.03628 24.6773C8.04374 23.8585 8.04374 22.5187 8.03628 21.7C8.02887 20.8812 8.02276 21.5511 8.02276 23.1886Z"
          fill="#101010"></path>
      </svg>
    </div>
  </div>
</nav>
